@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>SisNIC</h1>
    <p class="lead">GeoVisor SisNIC es una aplicación Web que permite la visualización general de información sobre los sismos
    en Nicaragua durante los años 2018, 2019 y 2020</p>
    <p><a href="http://localhost:8080/geonetwork/" class="btn btn-primary btn-lg" target="_blank">Ver Catalogo de Metadatos &raquo;</a></p>
</div>